<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>WebDep</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
    </jsp-property-group>
  </jsp-config>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ListarDefeitosCommand</display-name>
    <servlet-name>ListarDefeitosCommand</servlet-name>
    <servlet-class>br.cefetrj.webdep.view.command.ListarDefeitosCommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarDefeitosCommand</servlet-name>
    <url-pattern>/ListarDefeitosCommand</url-pattern>
  </servlet-mapping>
</web-app>